################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo/v15
/Debug/Demo.exe
/Debug/Demo.ilk
/Debug/Demo.pdb
/Debug/QFloat.obj
